@font-face {
  font-family: "Montserrat-Ligth";
  src: url("../assets/fonts/Montserrat-Light.ttf");
  font-style: normal; }

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/fonts/Montserrat-Bold.ttf");
  font-style: bold; }

@font-face {
  font-family: "Montserrat-Black";
  src: url("../assets/fonts/Montserrat-Black.ttf"); }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box; }

html {
  scroll-behavior: smooth; }

body {
  font-family: "Montserrat-Ligth";
  color: white;
  background-color: #141414; }

p {
  color: white; }

h1 {
  color: white;
  font-family: "Montserrat-Black";
  text-transform: uppercase; }

h2 {
  color: white;
  font-family: "Montserrat-Black"; }

h3 {
  color: white;
  font-family: "Montserrat-Bold"; }

ul {
  list-style-type: none; }

a {
  text-decoration: none; }

output {
  display: inline-block; }

address {
  font-style: normal;
  line-height: inherit; }

select {
  word-wrap: normal; }

select:disabled {
  opacity: 1; }

/* banner principal */
.main__banner img {
  width: 100%; }

/* Titulo - main index */
#titulo_main {
  text-align: center;
  padding-block: 5rem; }
  #titulo_main-h1 {
    font-size: 3rem; }
  #titulo_main-h2 {
    font-size: 1.5rem;
    color: #E63E8E; }

/* ----------------- Icon Section ------------------ */
.icon__section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: space-around;
  align-content: space-around;
  align-items: center;
  justify-items: center;
  gap: 0; }
  .icon__section img {
    width: 50px;
    margin: 15px; }
  .icon__section .background-servicios {
    background-color: #50B58B;
    width: 100%;
    text-align: center;
    cursor: pointer; }
  .icon__section .background-shop {
    background-color: #4D75B8;
    width: 100%;
    text-align: center;
    cursor: pointer; }
  .icon__section .background-cursos {
    background-color: #623883;
    width: 100%;
    text-align: center;
    cursor: pointer; }
  .icon__section .background-contacto {
    background-color: #E63E8E;
    width: 100%;
    text-align: center;
    cursor: pointer; }

/* ----------------- Icon Section ------------------ */
/* ----------------- Tarjetas de Servicios ------------------ */
.index__servicios {
  margin-block: 45px; }
  .index__servicios-titulos {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase; }
  .index__servicios .index__banner-servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
    .index__servicios .index__banner-servicios .index__banner-CardServicios {
      margin-bottom: 30px;
      transition: all 0.5s ease;
      border: #000000 1px solid; }
      .index__servicios .index__banner-servicios .index__banner-CardServicios:hover {
        transform: translateY(35px);
        border: #E63E8E 1px solid;
        box-shadow: 0 5px 20px 5px black; }

/* ----------------- Tarjetas de Servicios ------------------ */
/* ----------------- Comentarios / Opinionnes ------------------ */
.comentarios {
  margin-top: 1px;
  padding: 50px 10px;
  background: #0f0f0f;
  /* tarjetas de comentarios */
  /* boton  */ }
  .comentarios .comentarios__title {
    text-align: center;
    font-size: 2rem;
    margin: 50px auto;
    color: #db2b85ff; }
  .comentarios .comentarios__content {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    max-width: 1100px;
    margin: 0 auto; }
    .comentarios .comentarios__content .card__comentario {
      background-color: rgba(0, 0, 0, 0.5);
      padding: 20px;
      border: #444444 1px solid;
      border-radius: 20px;
      text-align: center;
      transition: border 0.2s ease; }
      .comentarios .comentarios__content .card__comentario:hover {
        border: #623883 1px solid;
        box-shadow: 0 10px 20px -5px black;
        background-color: black; }
      .comentarios .comentarios__content .card__comentario img {
        width: 180px;
        margin: 15px auto; }
      .comentarios .comentarios__content .card__comentario-usuario {
        font-size: 1.4rem;
        margin-bottom: 20px;
        color: #50B58B; }
      .comentarios .comentarios__content .card__comentario-estrellas {
        scale: 70%; }
  .comentarios .boton__comentarios {
    background-color: #252525;
    width: 200px;
    padding: 13px 0;
    text-align: center;
    border-radius: 120px;
    cursor: pointer;
    font-weight: 1000;
    font-size: 1.0rem;
    letter-spacing: 0.01rem;
    margin: 45px auto;
    border: #ffffff 1px solid;
    transition: all 0.2s; }
    .comentarios .boton__comentarios:hover {
      background-color: #ec1492;
      letter-spacing: 0.04rem;
      border: #ec1492 1px solid; }
    .comentarios .boton__comentarios a {
      color: #ffffff; }

/* ----------------- Comentarios / Opinionnes ------------------ */
.title-servicios {
  font-size: 3rem;
  text-align: center;
  padding: 0px 3px;
  margin-top: 40px; }

.servicios {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  margin-block: 80px;
  align-items: center;
  justify-content: center; }
  .servicios__card {
    background-color: #383838;
    border-radius: 5px;
    max-width: 400px;
    min-width: auto;
    border: #000000 1px solid;
    margin: 25px 10px;
    transition: all 0.3s;
    padding: 15px; }
    .servicios__card:hover {
      background-color: black;
      border: #ec1492 1px solid; }
    .servicios__card img {
      width: 100%; }
    .servicios__card h2 {
      color: #50B58B;
      margin-top: 10px;
      font-size: 1.3rem; }
    .servicios__card p {
      color: #ffffff;
      margin-top: 10px; }
    .servicios__card h4 {
      color: #ffffff;
      text-transform: uppercase; }
    .servicios__card-boton {
      background-color: #50B58B;
      width: 100%;
      padding: 12px 0;
      text-align: center;
      border-radius: 2px;
      cursor: pointer;
      font-weight: 1000;
      font-size: 0.8rem;
      letter-spacing: 0.08rem;
      margin-top: 15px;
      transition: all 0.2s; }
      .servicios__card-boton:hover {
        background-color: #ec1492;
        letter-spacing: 0.2rem; }

#titulo__wondershop {
  text-align: center;
  padding-block: 2rem; }
  #titulo__wondershop-h1 {
    font-size: 5rem;
    line-height: 5.5rem; }
    #titulo__wondershop-h1 #shop-style {
      background-image: linear-gradient(to right, #f93c97, #6D4795, #f93c97);
      background-clip: text;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      animation: gradient_shop 8s linear infinite; }

@keyframes gradient_shop {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 20rem 0; } }
  #titulo__wondershop-h3 {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    color: #50B58B;
    margin-block: 15px; }

/* Barra de naveacion de articulos */
.productos_menu_nav {
  position: sticky;
  top: 6rem;
  z-index: 3; }
  .productos_menu_nav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
    max-width: 1000px;
    margin: 0px auto;
    text-align: center;
    margin-block: 30px; }
    .productos_menu_nav ul li {
      background-color: #0e0e0e;
      padding: 18px 2px;
      border-radius: 5px;
      border: #ec1492 1px solid;
      box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.6);
      transition: all 0.2s ease; }
      .productos_menu_nav ul li:hover {
        background-color: #482464;
        transform: translateY(6px); }
      .productos_menu_nav ul li a {
        font-size: 1rem;
        color: white;
        font-weight: bold; }

/* Barra de naveacion de articulos */
.title_productos {
  border-bottom: #353535 1px solid;
  margin: auto 5%; }
  .title_productos h2 {
    text-align: center;
    padding: 12px;
    margin: 0 auto;
    font-size: 1.4rem; }

/* tarjetas de productos */
.productos_section {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
  max-width: 1000px;
  margin: 0 auto;
  padding: 50px 5px; }
  .productos_section .card__productos {
    background-color: rgba(255, 255, 255, 0.9);
    border: #000000 2px solid;
    border-radius: 5px;
    text-align: center;
    box-shadow: 1px 1px 5px 1px black;
    transition: all 0.3s; }
    .productos_section .card__productos:hover {
      background-color: white;
      border: #E63E8E 2px solid;
      scale: 110%;
      box-shadow: 1px 1px 15px 9px rgba(0, 0, 0, 0.8); }
    .productos_section .card__productos-marca {
      font-size: 1.4rem;
      line-height: 1.3rem;
      color: #242424;
      padding: 4px;
      margin-top: 12px; }
    .productos_section .card__productos-header p {
      font-size: 1rem;
      color: #292929;
      padding: 4px; }
    .productos_section .card__productos-foto {
      width: 100%;
      padding: 10px; }
    .productos_section .card__productos-precio {
      color: #ec1492; }
    .productos_section .card__productos-unidad {
      color: #0e0e0e;
      font-size: 0.9rem;
      margin-bottom: 8px; }
    .productos_section .card__productos-logo-mercadolibre {
      background-color: #FFE900;
      padding: 10px 10px;
      border-radius: 0px 0px 5px 5px;
      align-self: end; }
      .productos_section .card__productos-logo-mercadolibre img {
        width: 40%;
        align-self: end; }

.section-contacto {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0px;
  margin: 0px auto;
  align-items: center; }

.div-contacto {
  text-align: center; }

.div-contacto img {
  width: 10rem;
  margin: 20px; }

.div-formulario h2 {
  text-align: center;
  font-size: 1.7rem;
  padding: 25px;
  margin-top: 15px;
  color: #50B58B; }

.formulario-datos form {
  display: block;
  max-width: 500px;
  margin: 0 auto;
  margin-bottom: 50px; }

.formulario-datos textarea {
  font-family: "Montserrat-Ligth";
  font-size: 0,8rem;
  width: 100%;
  padding: 10px;
  border: 2px solid #000000;
  outline: none;
  margin: 10px;
  background-color: #d5d5d5;
  transition: all 0.4s; }

.formulario-datos textarea:focus {
  border: 2px solid #ec1492;
  background-color: white; }

.formulario-datos input {
  font-family: "Montserrat-Ligth";
  font-size: 0,8rem;
  padding: 10px;
  border: 2px solid #000000;
  outline: none;
  width: 100%;
  margin: 10px;
  background-color: #d5d5d5;
  transition: all 0.4s; }

.formulario-datos input:focus {
  border: #ec1492 2px solid;
  background-color: white; }

#button-enviar {
  width: 100%;
  background-color: #56B584;
  color: white;
  font-family: "Montserrat-Bold";
  border: 1px solid #000000;
  outline: none;
  border-radius: 3px;
  margin: 10px;
  padding: 10px; }

#button-enviar:hover {
  background-color: #482464; }

.title-cursos {
  font-size: 3rem;
  text-align: center;
  padding: 0px 3px;
  margin-top: 40px; }

.section_cursos {
  display: grid;
  max-width: 1000px;
  margin: 0 auto;
  margin-bottom: 100px; }

.div-background {
  background-color: #e2e2e2;
  max-height: 800px;
  padding: 20px;
  margin: 25px 0;
  border: #000000 2px solid;
  transition: all 0.3s; }
  .div-background:hover {
    background-color: white;
    border: #ec1492 2px solid; }

.curso__card {
  display: flex; }
  .curso__card img {
    max-width: 400px; }
  .curso__card .curso__card-contenido {
    margin-left: 15px; }
  .curso__card h2 {
    color: #111111; }
  .curso__card h4 {
    font-family: "Montserrat-Ligth";
    font-weight: bold;
    color: #ec1492;
    font-size: 1.1rem;
    margin-top: 10px; }
  .curso__card p {
    color: #000000;
    margin-top: 10px; }
  .curso__card-boton {
    background-color: #50B58B;
    width: 160px;
    padding: 11px 0;
    text-align: center;
    border-radius: 100px;
    cursor: pointer;
    font-weight: 800;
    font-size: 0.8rem;
    margin-top: 15px; }
    .curso__card-boton:hover {
      background-color: #ec1492;
      font-size: 0.85rem; }
  .curso__card h3 {
    color: #ffffff; }

.ff-ww-Montserrat-black {
  font-family: "Montserrat-Black"; }

.ff-ww-Montserrat-bold {
  font-family: "Montserrat-Bold"; }

.ff-ww-Montserrat-ligth {
  font-family: "Montserrat-Ligth"; }

.font-weight {
  font-weight: 1000; }

.bg_color-ww-fucsia {
  background-color: #ec1492; }

.bg_color-ww-fucsia-2 {
  background-color: #E63E8E; }

.bg_color-ww-verde {
  background-color: #50B58B; }

.bg_color-ww-morado {
  background-color: #623883; }

.bg_color-ww-azul {
  background-color: #4D75B8; }

.text_color-ww-white {
  color: #ffffff; }

.text_color-ww-black {
  color: #000000; }

.text_color-ww-fucsia {
  color: #ec1492; }

.text_color-ww-fucsia2 {
  color: #E63E8E; }

.text_color-ww-verde {
  color: #50B58B; }

.text_color-ww-morado {
  color: #623883; }

.text_color-ww-azul {
  color: #4D75B8; }

.bc-ww-fucsia {
  border-color: #ec1492; }

.bc-ww-verde {
  border-color: #50B58B; }

.bc-ww-morado {
  border-color: #623883; }

.bc-ww-azul {
  border-color: #4D75B8; }

.bg_gradient-ww-fucsia {
  background-image: linear-gradient(to left, #E63E8E, #9e35ac); }

.bg_gradient-ww-fucsia-top {
  background-image: linear-gradient(to top, #E63E8E, #9625a5); }

.header {
  border-bottom: #ec1492 3px solid;
  background-color: rgba(255, 255, 255, 0.94);
  position: sticky;
  top: 0;
  z-index: 2;
  padding: 10px 15px;
  box-shadow: 0px 5px 30px 5px black; }
  .header__contenido {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; }
    .header__contenido-logo img {
      width: 100px;
      vertical-align: middle; }
    .header__contenido-ul {
      display: flex; }
      .header__contenido-ul a {
        color: #623883;
        font-size: 1.4rem;
        font-weight: 200;
        margin-inline: 15px;
        vertical-align: middle;
        letter-spacing: 0.0rem;
        text-shadow: #ffffff 0px 0px 5px;
        transition: all 0.2s; }
        .header__contenido-ul a:hover {
          color: #ec1492;
          text-shadow: #ec149259 0px 0px 5px;
          font-weight: bold;
          letter-spacing: 0.3rem; }
    .header__contenido-button {
      margin-left: 20px; }
    .header__contenido-menu a {
      font-size: 0.9rem;
      margin-block: 10px;
      text-align: right;
      font-family: "Montserrat-Bold";
      letter-spacing: 0.0rem;
      transition: all 0.3s; }
      .header__contenido-menu a:hover {
        color: #ec1492;
        letter-spacing: 0.3rem; }
      .header__contenido-menu a .nav-item-rrss {
        margin-top: 10px;
        filter: brightness(100%) saturate(0);
        transition: all 0.2s; }
        .header__contenido-menu a .nav-item-rrss:hover {
          filter: none;
          scale: 110%; }
    .header__contenido-menu li {
      margin-right: 20px; }
    .header__contenido-menu-hr {
      border: #ec1492 1px solid;
      opacity: 20%; }

footer {
  background-color: #111111; }
  footer .line-gradient {
    /* color solido por si el navegador no sporta gradients */
    background-color: #482464;
    background-image: linear-gradient(to left, #E63E8E, #6D4795, #4A77BA, #3CBDE4, #56B584);
    height: 5px;
    animation: gradient_footer 5s linear infinite; }

@keyframes gradient_footer {
  0% {
    background-position: 0 0; }
  50% {
    background-position: 100vw 0; } }
  footer .footer_logoWW {
    display: flex;
    justify-content: center; }
    footer .footer_logoWW img {
      width: 220px;
      margin: 30px 0; }
  footer .rrss {
    display: block;
    text-align: center; }
    footer .rrss img {
      width: 85px;
      padding-inline: 12px;
      transition: all 0.2s; }
    footer .rrss img:hover {
      filter: brightness(100%) saturate(0); }
  footer .DerechosReservados {
    color: white;
    text-align: center;
    font-size: 0.95rem;
    padding: 3vh 1vh;
    margin-bottom: 0.5rem;
    line-height: 1.5rem; }
    footer .DerechosReservados .maikerobando-color {
      color: #50B58B; }

.tag__marcas {
  padding: 50px 20px;
  background-color: #000000;
  background-image: url("../assets/imagenes/backgorund_ww-fondo.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; }
  .tag__marcas-logos {
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center; }
    .tag__marcas-logos img {
      padding: 50px; }

.whatsapp-qr {
  position: fixed;
  bottom: 8px;
  right: 8px;
  z-index: 5;
  animation: whatsapp_qr 3s both; }

@keyframes whatsapp_qr {
  0% {
    right: -200px; }
  80% {
    right: -200px; }
  95% {
    right: 12px; }
  100% {
    right: 8px; } }

.whatsapp-icon {
  display: none;
  scale: 0%;
  animation: whatsapp 2s both; }

@keyframes whatsapp {
  0% {
    scale: 0%; }
  80% {
    scale: 0%; }
  95% {
    scale: 105%; }
  100% {
    scale: 100%; } }

@media (max-width: 1000px) {
  .comentarios .comentarios__content {
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
    gap: 12px; }
  .productos_section {
    grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
    gap: 0.5vw;
    padding: 50px 20px; }
  .section_cursos {
    margin: auto 1%;
    margin-bottom: 90px; } }

@media (max-width: 835px) {
  .header__contenido-logo img {
    width: 95px; }
  .header__contenido-ul {
    display: none; }
  /* ----------------- Tag Marcas ------------------ */
  .tag__marcas {
    padding: 10% 1%; }
    .tag__marcas-logos {
      padding: 0px; }
      .tag__marcas-logos img {
        padding: 40px 0;
        margin: 0 100%; }
  /* ----------------- PAGE / Wonder Shop ------------------ */
  #titulo__wondershop-h1 {
    font-size: 4rem;
    line-height: 4rem; }
  #titulo__wondershop-h3 {
    font-size: 1rem;
    letter-spacing: 0.05rem; }
  /* ----------------- PAGE / Contacto ------------------ */
  .section-contacto {
    grid-template-columns: repeat(1, 1fr); }
  /* ----------------- PAGE / Cursos ------------------ */
  .section_cursos {
    max-width: 90%;
    margin: 0 auto;
    margin-bottom: 100px; }
  .curso__card {
    display: grid; }
    .curso__card img {
      max-width: 100%; }
    .curso__card-boton {
      margin: 0 auto;
      margin-top: 25px; }
    .curso__card .curso__card-contenido {
      margin-left: 0px;
      margin-top: 0.9rem; }
  /* ----------------- WhastApp ------------------ */
  .whatsapp-qr {
    display: none; }
  .whatsapp-icon {
    display: flex;
    position: fixed;
    z-index: 5;
    bottom: 30px;
    right: 5px; } }

@media (max-width: 720px) {
  /* ----------------- PAGE / WonderShop ------------------ */
  .productos_menu_nav ul {
    gap: 4px; }
    .productos_menu_nav ul li:hover {
      transform: translateY(0px); }
    .productos_menu_nav ul li a {
      font-size: 0.8rem; }
  /* ----------------- PAGE / Index ------------------ */
  .productos_section .card__productos:hover {
    scale: 100%;
    box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.7); }
  /* ----------------- PAGE / Servicios ------------------ */
  .title-servicios {
    font-size: 2.0rem; }
  /* ----------------- PAGE / Cursos ------------------ */
  .title-cursos {
    font-size: 2.0rem;
    padding: 2px 3px;
    margin-top: 35px; }
  /* ----------------- Tag Marcas ------------------ */
  .tag__marcas {
    padding: 40px 0; }
    .tag__marcas-logos {
      padding: 0px; }
      .tag__marcas-logos img {
        padding: 33px 0;
        margin: 0 100%;
        scale: 80%; } }

@media (max-width: 500px) {
  /* ----------------- PAGE / Index ------------------ */
  .icon__section {
    grid-template-columns: repeat(2, 1fr); }
  #titulo_main-h1 {
    font-size: 2.1rem; }
  #titulo_main-h2 {
    font-size: 1rem;
    margin-inline: 9px; }
  .index__servicios-titulos {
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 3rem;
    text-transform: uppercase; }
  .index__servicios .index__banner-servicios {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    align-items: center;
    justify-content: center;
    margin: 0 auto; }
    .index__servicios .index__banner-servicios .index__banner-CardServicios {
      margin-bottom: 30px;
      transition: all 0.5s ease;
      border: #000000 1px solid; }
      .index__servicios .index__banner-servicios .index__banner-CardServicios:hover {
        transform: translateY(35px);
        border: #E63E8E 1px solid;
        box-shadow: 0 5px 20px 5px black; }
  .comentarios .comentarios__content .card__comentario {
    padding: 30px;
    border: #747474 1px solid;
    border-radius: 15px; }
  /* ----------------- PAGE / Wonder Shop ------------------ */
  #titulo__wondershop {
    padding-block: 0;
    padding-top: 2rem; }
    #titulo__wondershop-h1 {
      font-size: 2.6rem;
      line-height: 2.5rem; }
    #titulo__wondershop-h3 {
      font-size: 0.8rem;
      letter-spacing: 0.03rem;
      margin: 1.3rem 0.2rem; }
  .title_productos h2 {
    font-size: 1.1rem; }
  /* Barra de naveacion */
  .productos_menu_nav {
    position: static;
    z-index: 0; }
    .productos_menu_nav ul {
      display: block; }
  /* ----------------- PAGE / Contacto ------------------ */
  .formulario-datos form {
    max-width: 90%; }
  /* ----------------- Tags Marcas ------------------ */
  .tag__marcas {
    padding: 35px 0; }
    .tag__marcas img {
      padding: 20px 0;
      margin: 0 100%;
      scale: 65%; } }
