// ----------------------------------------
// Proyect by Maiker Obando - Wash Wonder 
// -----------------------------------------

.header__cursos {
    background-image: url("../assets/imagenes/cursos/banner-cursos.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    overflow: hidden;
    height: 20rem; 
    display: flex;
    justify-content: center;
    align-items: center;   
    
    &-container {        
        text-align: center;

        & h1 {
            font-size: 3rem;            
            padding: 0px 3px;
            text-shadow: #000000a9 3px 3px 10px;            
        }
    
        & p {
            margin: 1rem;
            text-shadow: #000000bd 2px 2px 6px;  
        }
    }    
}


.section_cursos {    
    max-width: 1000px;
    margin: 100px auto; 

    .div-background {
        background-color: rgb(226, 226, 226);
        max-height: 800px;
        padding: 20px;
        margin: 25px 0;
        border: #000000 2px solid;
        transition: all 0.3s;
        
        &:hover {
            background-color: rgb(255, 255, 255);
            border: #ec1492 2px solid;
        }

        .curso__card {
            display: flex;
            position: relative;

            &-destacado {
                position: absolute;
                width: 60px;
                right: -20px;
                top: -20px;
                z-index: 3;
            }
        
            & img {
                max-width: 400px;
            }
        
            &-contenido {
                margin-left: 15px;                            
                
                & h2 {
                    color: #111111;
                }
        
                & h4 {
                    font-family: "Montserrat-Ligth";
                    font-weight: bold;
                    color: #ec1492;
                    font-size: 1.1rem;
                    margin-top: 10px;
                }
        
                & p {
                    color: #000000;
                    margin-top: 10px;
                }

                & a {
                    font-family: "Montserrat-Bold";
                    color: white;
                    font-size: 1rem;                    
                }
        
                &-boton {
                    background-color: #6d6d6d;
                    width: 160px;
                    padding: 11px 0;
                    text-align: center;
                    border-radius: 150px;
                    cursor: pointer;                    
                    font-size: 0.8rem;
                    margin-top: 15px;
                    transition: all 0.2s ease-in-out;
        
                    &:hover {
                        background-color: #ec1492;                        
                        letter-spacing: 0.05rem;
                    }        
                }                
            }               
        }
    }

    .div-background-destacado {
        border: #ec1492 2px solid;  

        &:hover {
            box-shadow: #ec149280 1px 1px 25px 5px;
        }
    }
}