// ----------------------------------------
// Proyect by Maiker Obando - Wash Wonder
// -----------------------------------------


/* ----------------- Banner Principal ------------------ */
.main__banner {    
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;    
    height: 80vh;
    animation: background_index 20s infinite;
    position: relative;
    overflow: hidden;
           
    @keyframes background_index {
        0% {
            background-image: url("../assets/imagenes/background_index/background-home_01.jpg");
        }
        20% {
            background-image: url("../assets/imagenes/background_index/background-home_01.jpg");
        }
        25% {
            background-image: url("../assets/imagenes/background_index/background-home_02.jpg");
        }
        45% {
            background-image: url("../assets/imagenes/background_index/background-home_02.jpg");
        }
        50% {
            background-image: url("../assets/imagenes/background_index/background-home_03.jpg");
        }
        70% {
            background-image: url("../assets/imagenes/background_index/background-home_03.jpg");
        }
        75% {
            background-image: url("../assets/imagenes/background_index/background-home_04.jpg");
        }
        95% {
            background-image: url("../assets/imagenes/background_index/background-home_04.jpg");
        }
        100% {
            background-image: url("../assets/imagenes/background_index/background-home_01.jpg");
        }
    }

    #container_index {
        display: flex;        
        flex-direction: column;
        align-items: center;        
    } 

    &-logo { 
        max-width: 100%;
        max-height: 100%;
        z-index: 2;
        transform: rotateY(90deg);
        animation: logo-hexa-ww 1.8s both;
        transition: all 2s ease;
        padding: 5vh;
        margin: 15px;

        &:hover {
            scale: 110%;
        }

        @keyframes logo-hexa-ww {
            0% {
                transform: rotateY(90deg);
            }
    
            30% {
                transform: rotateY(90deg);
            }
    
            95% {
                transform: rotateY(0deg);
            }
    
            100% {
                transform: rotateY(0deg);
            }
        }        
    }
    
    /* Titulo - main index */
    .titulo_main {       
        text-align: center;
        z-index: 1;
     
        &-h1 {
            font-size: 2.8rem;
            text-shadow: #000000a9 3px 3px 10px;
        }

        &-h2 {
            font-size: 1.5rem;
            color: #E63E8E;
            text-shadow: #000000a9 2px 2px 6px;
        }
    }

    &-plus {
        z-index: 1;
        animation: plus-opacity 2.2s both;

        @keyframes plus-opacity {
            0% {
                opacity: 0%;            
            } 
            50% {                
                opacity: 0%;
            } 
            100% {                
                opacity: 100%;
            }
        }
        
        &-azul {
            position: absolute;            
            scale: 80%;
            opacity: 70%;
            bottom: 100px;
            left: 5%;
            transition: all 1s ease-in-out;
            animation: plus-girando 2s infinite;
            
            &:hover {
                scale: 120%;
                opacity: 100%; 
            }

            @keyframes plus-girando {
                0% {
                    transform: rotate(0deg);
                } 
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        &-fucsia {
            position: absolute;                      
            scale: 95%;
            opacity: 70%;  
            top: 8%;
            left: 15%;
            transition: all 1s ease-in-out;
            animation: plus-girando 3s infinite;

            &:hover {
                scale: 130%;
                opacity: 100%; 
            }

            @keyframes plus-girando {
                0% {
                    transform: rotate(0deg);
                } 
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        &-morado {
            position: absolute;            
            scale: 90%;
            opacity: 70%;
            top: 13%;
            right: 11%;
            transition: all 1s ease-in-out;
            animation: plus-girando 2.4s infinite;

            &:hover {
                scale: 145%;
                opacity: 100%; 
            }

            @keyframes plus-girando {
                0% {
                    transform: rotate(0deg);
                } 
                100% {
                    transform: rotate(360deg);
                }
            }
        }

        &-verde {
            position: absolute;            
            scale: 75%;
            opacity: 70%;
            bottom: 33%;
            right: 20%;
            transition: all 1s ease-in-out;
            animation: plus-girando 2.8s infinite;

            &:hover {
                scale: 100%;
                opacity: 100%; 
            }

            @keyframes plus-girando {
                0% {
                    transform: rotate(0deg);
                } 
                100% {
                    transform: rotate(360deg);
                }
            }
        }
    }    
}


/* ----------------- Icon Section ------------------ */
.icon__section {
    @include template_grid(4);
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    justify-items: center;
    gap: 0;

    & img {
        width: 50px;
        margin: 15px;
    }

    .background-servicios {
        background-color: #50B58B;
        width: 100%;
        text-align: center;
        cursor: pointer;
        opacity: 50%;
        transition: all 0.3s ease;

        &:hover {
            opacity: 100%;
        }
    }

    .background-shop {
        background-color: #4D75B8;
        width: 100%;
        text-align: center;
        cursor: pointer;
        opacity: 50%;
        transition: all 0.3s ease;

        &:hover {
            opacity: 100%;
        }
    }

    .background-cursos {
        background-color: #623883;
        width: 100%;
        text-align: center;
        cursor: pointer;
        opacity: 50%;
        transition: all 0.3s ease;

        &:hover {
            opacity: 100%;
        }
    }

    .background-contacto {
        background-color: #E63E8E;
        width: 100%;
        text-align: center;
        cursor: pointer;
        opacity: 50%;
        transition: all 0.3s ease;

        &:hover {
            opacity: 100%;
        }
    }
}
/* ----------------- Icon Section ------------------ */

// -- ---------------- ¿Que es el Detailing? ---------------
.contenedor__detailing {
    display: flex;
    max-width: 1000px;    
    background-color: #111111;
    border-radius: 12px;
    border: 1px #E63E8E solid;    
    padding: 30px;
    margin: 80px auto; 
                   
    & hr {
        margin-inline: 20px;
        opacity: 20%;
    }
    
    & h2 {
        color: #E63E8E;
        font-size: 1.6rem;
    }

    & p {
        line-height: 1.5rem;
    }
}
// -- ---------------- ¿Que es el Detailing? ---------------


/* ----------------- Tarjetas de Servicios ------------------ */
.index__servicios {
    padding-block: 60px;

    &-titulos {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 50px;
        margin-top: 40px;
        text-transform: uppercase;
    }

    &-banner {
        @include template_flex(center);
        gap: 6px;
        margin: 0 auto;
        padding: 0px 2%;

        &-card {
            margin-bottom: 30px;
            border: #000000 1px solid;
            transition: all 0.5s ease;

            &:hover {
                transform: translateY(35px);
                border: #E63E8E 1px solid;
                box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 1);
            }

            img{
                width: 100%;
            }
        }
    }

    /* boton  */
    .boton__servicios {
        background-color: rgb(22, 22, 22);
        width: 210px;
        padding: 13px 0;
        text-align: center;
        border-radius: 120px;
        cursor: pointer;
        font-weight: 1000;
        font-size: 1.0rem;
        letter-spacing: 0.01rem;
        margin: 20px auto 45px auto;
        border: #ffffff 1px solid;
        transition: all 0.2s;

        &:hover {
            background-color: $fucsia;
            letter-spacing: 0.04rem;
            border: $fucsia 1px solid;
        }

        & a {
            color: #ffffff;
        }
    }
}
/* ----------------- Tarjetas de Servicios ------------------ */


/* ----------------- Comentarios / Opinionnes ------------------ */
.comentarios {
    margin-top: 1px;
    padding: 50px 10px;
    background: #0f0f0f;

    &__title {
        text-align: center;
        font-size: 2rem;
        margin: 50px auto;
        color: #db2b85ff;
    }

    /* tarjetas de comentarios */
    &__content {
        @extend .container_1100;
        @include template_grid(4);
        gap: 15px;

        .card__comentario {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            margin: 0;
            border: #444444 1px solid;
            border-radius: 20px;
            text-align: center;
            transition: all 0.2s ease;

            &:hover {
                border: #623883 1px solid;
                box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 100);
                background-color: rgba(0, 0, 0, 1);
            }

            & img{
                width: 180px;
                margin: 15px auto;
            }

            &-usuario {
                font-size: 1.4rem;
                margin-bottom: 20px;
                color: #50B58B;
            }

            &-estrellas {
                scale: 70%;
            }
        }
    }

    /* boton  */
    .boton__comentarios {
        background-color: rgb(37, 37, 37);
        width: 200px;
        padding: 13px 0;
        text-align: center;
        border-radius: 120px;
        cursor: pointer;
        font-weight: 1000;
        font-size: 1.0rem;
        letter-spacing: 0.01rem;
        margin: 45px auto;
        border: #ffffff 1px solid;
        transition: all 0.2s;

        &:hover {
            background-color: $fucsia;
            letter-spacing: 0.04rem;
            border: $fucsia 1px solid;
        }

        & a {
            color: #ffffff;
        }
    }
}
/* ----------------- Comentarios / Opinionnes ------------------ */

