// ----------------------------------------
// Proyect by Maiker Obando - Wash Wonder 
// -----------------------------------------


/* banner principal */
.main__banner img {
    width: 100%;
}


/* Titulo - main index */
#titulo_main {
    text-align: center;
    padding-block: 5rem;

    &-h1 {
        font-size: 3rem;
    }

    &-h2 {
        font-size: 1.5rem;
        color: #E63E8E;
    }
}


/* ----------------- Icon Section ------------------ */
.icon__section {
    @include template_grid(4);
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
    justify-items: center;
    gap: 0;

    & img {
        width: 50px;
        margin: 15px;
    }

    .background-servicios {
        background-color: #50B58B;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    
    .background-shop {
        background-color: #4D75B8;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    
    .background-cursos {
        background-color: #623883;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
    
    .background-contacto {
        background-color: #E63E8E;
        width: 100%;
        text-align: center;
        cursor: pointer;
    }
}
/* ----------------- Icon Section ------------------ */


/* ----------------- Tarjetas de Servicios ------------------ */
.index__servicios {
    margin-block: 45px;
   
    &-titulos {
        text-align: center;
        font-size: 1.5rem;
        margin-bottom: 50px;
        text-transform: uppercase;        
    }

    &-banner {
        @include template_flex(center);                
        gap: 6px;               
        margin: 0 auto;
        padding: 0px 2%;
    
        &-card {   
            margin-bottom: 30px;            
            border: #000000 1px solid;
            transition: all 0.5s ease;
                         
            &:hover {
                transform: translateY(35px);
                border: #E63E8E 1px solid;
                box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 1);
            }
        
            img{
                width: 100%;                
            }
        }   
    }
}
/* ----------------- Tarjetas de Servicios ------------------ */


/* ----------------- Comentarios / Opinionnes ------------------ */
.comentarios {
    margin-top: 1px;
    padding: 50px 10px;
    background: #0f0f0f;

    &__title {
        text-align: center;
        font-size: 2rem;
        margin: 50px auto;
        color: #db2b85ff;
    }
            
    /* tarjetas de comentarios */
    &__content {
        @extend .container_1100;
        @include template_grid(4);
        gap: 15px;
        
        .card__comentario {
            background-color: rgba(0, 0, 0, 0.5);
            padding: 20px;
            margin: 0;
            border: #444444 1px solid;
            border-radius: 20px;
            text-align: center;
            transition: all 0.2s ease;
        
            &:hover {
                border: #623883 1px solid;
                box-shadow: 0 10px 20px -5px rgba(0, 0, 0, 100);
                background-color: rgba(0, 0, 0, 1);
            }
        
            & img{
                width: 180px;
                margin: 15px auto;
            }
        
            &-usuario {
                font-size: 1.4rem;
                margin-bottom: 20px;
                color: #50B58B;
            }    
        
            &-estrellas {
                scale: 70%;
            }
        }
    }

    /* boton  */
    .boton__comentarios {
        background-color: rgb(37, 37, 37);
        width: 200px;
        padding: 13px 0;
        text-align: center;
        border-radius: 120px;
        cursor: pointer;
        font-weight: 1000;
        font-size: 1.0rem;
        letter-spacing: 0.01rem;
        margin: 45px auto; 
        border: #ffffff 1px solid;       
        transition: all 0.2s;

        &:hover {
            background-color: $fucsia;
            letter-spacing: 0.04rem;
            border: $fucsia 1px solid;  
        }

        & a {
            color: #ffffff;
        } 
    }
}
/* ----------------- Comentarios / Opinionnes ------------------ */

