// ----------------------------------------
// Proyect by Maiker Obando - Wash Wonder 
// -----------------------------------------


.ff-ww-Montserrat-black {
    font-family: "Montserrat-Black";
}

.ff-ww-Montserrat-bold {
    font-family: "Montserrat-Bold";
}

.ff-ww-Montserrat-ligth {
    font-family: "Montserrat-Ligth";
}

.font-weight {
    font-weight: 1000;
}

.bg_color-ww-fucsia {
    background-color: #ec1492;
}

.bg_color-ww-fucsia-2 {
    background-color: #E63E8E;
}

.bg_color-ww-verde {
    background-color: #50B58B;
}

.bg_color-ww-morado {
    background-color: #623883;
}

.bg_color-ww-azul {
    background-color: #4D75B8;
}

.text_color-ww-white {
    color: #ffffff;
}

.text_color-ww-fucsia {
    color: #ec1492;
}

.text_color-ww-verde {
    color: #50B58B;
}

.text_color-ww-morado {
    color: #623883;
}

.text_color-ww-azul {
    color: #4D75B8;
}

.bc-ww-fucsia {
    border-color: #ec1492;
}

.bc-ww-verde {
    border-color: #50B58B;
}

.bc-ww-morado {
    border-color: #623883;
}

.bc-ww-azul {
    border-color: #4D75B8;
}

.bg_gradient-ww-fucsia {
    background-image: linear-gradient(to left, #E63E8E, #9e35ac);
}

.bg_gradient-ww-fucsia-top {
    background-image: linear-gradient(to top, #E63E8E, #9625a5);
}