// ----------------------------------------
// Proyect by Maiker Obando - Wash Wonder
// -----------------------------------------


@font-face {
    font-family: "Montserrat-Ligth";
    src: url("../assets/fonts/Montserrat-Light.ttf");
    font-style: normal;
}

@font-face {
    font-family: "Montserrat-Bold";
    src: url("../assets/fonts/Montserrat-Bold.ttf");
    font-style: bold;
}

@font-face {
    font-family: "Montserrat-Black";
    src: url("../assets/fonts/Montserrat-Black.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: "Montserrat-Ligth"; color: white;
    background-color: #161616;
}

p {
    color: white;}

h1 {
    color: white;
    font-family: "Montserrat-Black";
    text-transform: uppercase;
}

h2 {
    color: white;
    font-family: "Montserrat-Black";
}

h3 {
    color: white;
    font-family: "Montserrat-Bold";
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

output {
    display: inline-block;
}

address {
    font-style: normal;
    line-height: inherit;
}

select {
    word-wrap: normal;
}

select:disabled {
    opacity: 1;
}


// extend
.container_1100 {
    max-width: 1100px;
    margin: 0 auto;
}

.container_1200 {
    max-width: 1200px;
    margin: 0 auto;
}

// mixin
@mixin template_grid($columns) {
    display: grid;
    grid-template-columns: repeat($columns, 1fr);     
}

@mixin template_flex($valueJustify) {
    display: flex;
    align-items: center; 
    justify-content: $valueJustify;     
}