// ----------------------------------------
// Proyect by Maiker Obando - Wash Wonder 
// -----------------------------------------


.header {
    border-bottom: #ec1492 3px solid;
    background-color: rgba(255, 255, 255, 0.94);
    position: sticky;
    top: 0;
    z-index: 2;
    padding: 6px 15px;
    box-shadow: 0px 5px 30px 5px rgba(0, 0, 0, 100);

    &__contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;        
        max-width: 1200px;
        margin: 0 auto;
        
        &-logo img {
            width: 100px;
        }

        &-nav {
            display: flex;
            
            a {
                color: #623883;
                font-size: 1.4rem;
                font-weight: 200;
                margin-left: 30px;                
                transition: all 0.2s;
                
                &:hover {
                    color: #ec1492;
                    font-weight: bold;                      
                }
            }
            
            .icon-home {
                width: 38px;
                margin-left: 20px; 
            }

            .nav_icon-menu {
                width: 38px;
                margin-left: 20px;
                display: none;
            }
        }
    }        
}
