
@media (max-width: 1000px) {

    .comentarios {
        .comentarios__content {
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            gap: 12px;

        }
    }

    .productos_section {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        gap: 0.5vw;
        padding: 50px 20px;
    }

    .section_cursos {
        margin: auto 1%;
        margin-bottom: 90px;
    }
}



@media (max-width: 835px) {  
    .header {
        &__contenido {
            &-logo img {
                width: 95px;
            }

            &-nav li {
                display: none;
            }

            .nav_icon-menu {
                display: flex;
            }
        }
    }

/* ----------------- Tag Marcas ------------------ */
    .tag__marcas {
        padding: 10% 1%;

        &-logos {
            padding: 0px;

            & img {
                padding: 40px 0;
                margin: 0 100%;
            }
        }
    }
    
/* ----------------- PAGE / Wonder Shop ------------------ */
    #titulo__wondershop-h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    #titulo__wondershop-h3 {
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }

/* ----------------- PAGE / Contacto ------------------ */
       .section-contacto {
        grid-template-columns: repeat(1, 1fr);
    }

/* ----------------- PAGE / Cursos ------------------ */
    .section_cursos {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .curso__card {
        display: grid;

        & img {
            max-width: 100%;
        }

        &-boton {
            margin: 0 auto;
            margin-top: 25px ;
        }

        .curso__card-contenido {
            margin-left: 0px;
            margin-top: 0.9rem;
        }
    }

/* ----------------- WhastApp ------------------ */    
    .whatsapp-qr {
        display: none;
    }

    .whatsapp-icon {
        display: flex;
        position: fixed;
        z-index: 5;
        bottom: 30px;
        right: 5px;
    }
}



@media (max-width: 720px) {
/* ----------------- Header ------------------ */    
    .productos_menu_nav {
        & ul {
            gap: 4px;

            & li {

                &:hover {
                    transform: translateY(0px);
                }
                & a {
                    font-size: 0.8rem;
                }
            }
        }
    }

/* ----------------- PAGE / Index ------------------ */
    .productos_section {
        .card__productos {
            &:hover {
                scale: 100%;
                box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.7);
            }
        }
    }

/* ----------------- PAGE / Servicios ------------------ */
    .title-servicios {
        font-size: 2.0rem;
    }

/* ----------------- PAGE / Cursos ------------------ */
    .title-cursos {
        font-size: 2.0rem;
        padding: 2px 3px;
        margin-top: 35px;
    }

/* ----------------- Tag Marcas ------------------ */
    .tag__marcas {
        padding: 40px 0;

        &-logos {
            padding: 0px;

            & img {
                padding: 33px 0;
                margin: 0 100%;
                scale: 80%;
            }
        }
    }
}



@media (max-width: 500px) {
/* ----------------- PAGE / Index ------------------ */     
    .icon__section {
        grid-template-columns: repeat(2, 1fr);
    }

    #titulo_main {
        &-h1 {
            font-size: 2.1rem; 
        }
        &-h2 {
            font-size: 1rem;
            margin-inline: 9px; 
        }
    }

    .index__servicios {
            &-titulos {
                text-align: center;
                font-size: 1.5rem;
                margin-bottom: 3rem;
                text-transform: uppercase;        
            }

        .index__banner-servicios {
            display: flex;
            flex-wrap: wrap;
            gap: 6px;
            align-items: center;
            justify-content: center;        
            margin: 0 auto;
        
            .index__banner-CardServicios {
                margin-bottom: 30px;
                transition: all 0.5s ease;
                border: #000000 1px solid;
        
                &:hover {
                    transform: translateY(35px);
                    border: #E63E8E 1px solid;
                    box-shadow: 0 5px 20px 5px rgba(0, 0, 0, 1);
                }
            }    
        }
    }

    .comentarios {
        .comentarios__content {
            .card__comentario {
                padding: 30px;
                border: #747474 1px solid;
                border-radius: 15px;
            }
        }
    }    
  
/* ----------------- PAGE / Wonder Shop ------------------ */  
    #titulo__wondershop {
        padding-block: 0;
        padding-top: 2rem;

        &-h1 {
            font-size: 2.6rem;
            line-height: 2.5rem;
        }
        &-h3 {
            font-size: 0.8rem;
            letter-spacing: 0.03rem;
            margin:1.3rem 0.2rem;
        }
    }

    .title_productos {
        & h2 {
            font-size: 1.1rem;
        }
    }

    /* Barra de naveacion */
    .productos_menu_nav {
        position: static;
        z-index: 0;

        & ul {
            display: block;
        }
    }
 
/* ----------------- PAGE / Contacto ------------------ */      
    .formulario-datos form {
        max-width: 90%;
    }

/* ----------------- Tags Marcas ------------------ */  
    .tag__marcas {
        padding: 35px 0;

        & img {
            padding: 20px 0;
            margin: 0 100%;
            scale: 65%;
        }
    }    
}
