
@media (max-width: 1000px) {
    .comentario__content {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 15px;
        max-width: auto;
        margin: 0 auto;
    }

    .productos_section {
        grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
        gap: 1rem;
        max-width: 1000px;
        padding: 50px 20px;
    }

    .section_cursos {
        margin: auto 1%;
        margin-bottom: 90px;
    }
}



@media (max-width: 835px) {
    .header__contenido-nav li {
        display: none;
    }

    .header__contenido-logo img {
        width: 100px;
    }

    .nav_icon-menu {
        display: flex;
    }

    .tag_marcas {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-image: url("./assets/imagenes/background_gotas-02-02.png");
    }

    /* PAGE / Wonder Shop */
    #titulo__wondershop-h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    #titulo__wondershop-h3 {
        font-size: 1rem;
        letter-spacing: 0.1rem;
    }

    /* PAGE / Contacto */
    .section-contacto {
        grid-template-columns: repeat(1, 1fr);
    }

    .whatsapp-qr {
        display: none;
    }

    .whatsapp-icon {
        display: flex;
        position: fixed;
        z-index: 5;
        bottom: 8px;
        right: 8px;
    }


    /* PAGE / Cursos */
    .section_cursos {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .curso__card-contenido {
        margin-left: 0px;
        margin-top: 10px;
    }

    .curso__card {
        display: grid;
    }

    .curso__card img {
        max-width: 100%;
    }

    .curso__card-boton {
        margin: 0 auto;
        margin-top: 25px ;
    }
}



@media (max-width: 720px) {
    .productos_menu_nav li:hover {
        transform: translateY(0px);
    }

    .card__productos:hover {
        scale: 100%;
        box-shadow: 1px 1px 20px 10px rgba(0, 0, 0, 1);
    }

    .title-cursos {
        font-size: 2.5rem;
        padding: 2px 3px;
        margin-top: 35px;
    }
}



@media (max-width: 500px) {
    .icon__section {
        grid-template-columns: repeat(2, 1fr);
    }

    #titulo_h1 {
        font-size: 2.4rem;

    }#titulo_h2 {
        margin-inline: 9px;
    }

    .card__comentario {
    padding: 30px;
    border: #747474 1px solid;
    border-radius: 18px;
    }

    /* PAGE / Wonder Shop */
    #titulo__wondershop {
        padding-block: 0;
        padding-top: 2rem;
    }

    #titulo__wondershop-h1 {
        font-size: 2.6rem;
        line-height: 2.5rem;
    }

    #titulo__wondershop-h3 {
        font-size: 0.9rem;
        letter-spacing: 0.1rem;
        margin:1.3rem 0.2rem;
    }

    /* Barra de naveacion */
    .productos_menu_nav {
        position: static;
        z-index: 0;
    }

    .productos_menu_nav ul {
        display: block;
        margin: 0px auto;
        text-align: center;
        margin-block: 30px;
    }

    .productos_menu_nav li {
        background-color: #623883;
        padding: 18px 2px;
        border-radius: 2px;
        border: #000000 1px solid;
        box-shadow: 1px 1px 5px 3px rgba(0, 0, 0, 0.6);
        transition: all 0.2s ease;
    }

    .productos_menu_nav li:hover {
        background-color: #482464;
        transform: translateY(0px);
    }

    .productos_menu_nav a {
        font-size: 1rem;
        color: white;
        font-weight: bold;
    }

    /* PAGE / Contacto */
    .formulario-datos form {
        max-width: 90%;
    }


    .tag_marcas img {
        padding: 5vh;
        width: 100%;;
   }
}