
@media (max-width: 1000px) {

    .comentarios {
        .comentarios__content {
            grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
            gap: 12px;

        }
    }

    .productos_section {
        grid-template-columns: repeat(auto-fill, minmax(13rem, 1fr));
        gap: 0.5vw;
        padding: 50px 20px;
    }

    .section_cursos {
        margin: auto 1%;
        margin-bottom: 90px;
    }
}



@media (max-width: 835px) {  
    .header {
        &__contenido {
            &-logo img {
                width: 95px;
            }

            &-nav li {
                display: none;
            }

            .nav_icon-menu {
                display: flex;
            }
        }
    }


    .tag_marcas {
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;
        background-image: url("./assets/imagenes/background_gotas-02-02.png");
    }

    
/* ----------------- PAGE / Wonder Shop ------------------ */
    #titulo__wondershop-h1 {
        font-size: 4rem;
        line-height: 4rem;
    }

    #titulo__wondershop-h3 {
        font-size: 1rem;
        letter-spacing: 0.05rem;
    }

/* ----------------- PAGE / Contacto ------------------ */
       .section-contacto {
        grid-template-columns: repeat(1, 1fr);
    }

/* ----------------- PAGE / Cursos ------------------ */
    .section_cursos {
        max-width: 90%;
        margin: 0 auto;
        margin-bottom: 100px;
    }

    .curso__card {
        display: grid;

        & img {
            max-width: 100%;
        }

        &-boton {
            margin: 0 auto;
            margin-top: 25px ;
        }

        .curso__card-contenido {
            margin-left: 0px;
            margin-top: 0.9rem;
        }
    }

/* ----------------- WhastApp ------------------ */    
    .whatsapp-qr {
        display: none;
    }

    .whatsapp-icon {
        display: flex;
        position: fixed;
        z-index: 5;
        bottom: 30px;
        right: 5px;
    }
}



@media (max-width: 720px) {
    .productos_menu_nav {
        & ul {
            gap: 4px;

            & li {

                &:hover {
                    transform: translateY(0px);
                }
                & a {
                    font-size: 0.8rem;
                }
            }
        }
    }

    .productos_section {
        .card__productos {
            &:hover {
                scale: 100%;
                box-shadow: 1px 1px 10px 5px rgba(0, 0, 0, 0.7);
            }
        }
    }

    .title-cursos {
        font-size: 2.5rem;
        padding: 2px 3px;
        margin-top: 35px;
    }

    .tag_marcas-background {
        padding: 10% 1%;

        .tag_marcas {
            padding: 0px;

            & img {
                padding: 20px;
                margin: 0 100px;
            }
        }

        & img {
            padding: 1px;
            margin: 2px 1px;
            scale: 75%;
        }
    }
}



@media (max-width: 500px) {
/* ----------------- PAGE / Index ------------------ */  
    .icon__section {
        grid-template-columns: repeat(2, 1fr);
    }

    #titulo_main {
        &-h1 {
            font-size: 2.1rem; 
        }
        &-h2 {
            font-size: 1rem;
            margin-inline: 9px; 
        }
    }

    .comentarios {
        .comentarios__content {
            .card__comentario {
                padding: 30px;
                border: #747474 1px solid;
                border-radius: 15px;
            }
        }
    }
    
    
/* ----------------- PAGE / Index ------------------ */   
  
/* ----------------- PAGE / Wonder Shop ------------------ */  
    #titulo__wondershop {
        padding-block: 0;
        padding-top: 2rem;

        &-h1 {
            font-size: 2.6rem;
            line-height: 2.5rem;
        }
        &-h3 {
            font-size: 0.8rem;
            letter-spacing: 0.03rem;
            margin:1.3rem 0.2rem;
        }
    }

    .title_productos {
        & h2 {
            font-size: 1.1rem;
        }
    }

    /* Barra de naveacion */
    .productos_menu_nav {
        position: static;
        z-index: 0;

        & ul {
            display: block;
        }
    }
/* ----------------- PAGE / Wonder Shop ------------------ */  

/* ----------------- PAGE / Contacto ------------------ */      
    .formulario-datos form {
        max-width: 90%;
    }

/* ----------------- Tags Marcas ------------------ */  
    .tag_marcas-background {
        padding: 10% 1%;

        .tag_marcas img {
            padding: 0px;
            margin: 20px 5px;
            scale: 65%;
        }
    }
}
