// ----------------------------------------
// Proyect by Maiker Obando - Wash Wonder 
// -----------------------------------------


.tag__marcas {
    padding: 50px 20px;
    background-color: #000000;
    background-image: url("../assets/imagenes/backgorund_ww-fondo.jpg");
    background-size: cover;
    background-repeat: no-repeat;   
    background-position: center;
    background-attachment: fixed;
    
    &-logos {
        display: flex;
        flex-flow: wrap;
        justify-content: center;
        align-items: center;        
    
        & img {
            padding: 50px;
        }
    }
}
