// ----------------------------------------
// Proyect by Maiker Obando - Wash Wonder 
// -----------------------------------------
    
$fucsia: #ec1492;

$fucsia2: #E63E8E;

$verde: #50B58B;

$morado: #623883;

$azul: #4D75B8;


$transition-3ms: all 0.3s ease;







